ConsoleServiceClient/Service References/RESTfulService/RESTfulService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RESTfulService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61702/RESTfulService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61702/RESTfulService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61702/RESTfulService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:61702/RESTfulService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RESTfulWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRESTfulService_HelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="IRESTfulService_HelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IRESTfulService_GetEnumerableOfInt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnumerableOfInt" />
  </wsdl:message>
  <wsdl:message name="IRESTfulService_GetEnumerableOfInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnumerableOfIntResponse" />
  </wsdl:message>
  <wsdl:message name="IRESTfulService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IRESTfulService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IRESTfulService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IRESTfulService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IRESTfulService">
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IRESTfulService/HelloWorld" message="tns:IRESTfulService_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRESTfulService/HelloWorldResponse" message="tns:IRESTfulService_HelloWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnumerableOfInt">
      <wsdl:input wsaw:Action="http://tempuri.org/IRESTfulService/GetEnumerableOfInt" message="tns:IRESTfulService_GetEnumerableOfInt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRESTfulService/GetEnumerableOfIntResponse" message="tns:IRESTfulService_GetEnumerableOfInt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRESTfulService/GetData" message="tns:IRESTfulService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRESTfulService/GetDataResponse" message="tns:IRESTfulService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IRESTfulService/GetDataUsingDataContract" message="tns:IRESTfulService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRESTfulService/GetDataUsingDataContractResponse" message="tns:IRESTfulService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRESTfulService" type="tns:IRESTfulService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/IRESTfulService/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnumerableOfInt">
      <soap:operation soapAction="http://tempuri.org/IRESTfulService/GetEnumerableOfInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IRESTfulService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IRESTfulService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RESTfulService">
    <wsdl:port name="BasicHttpBinding_IRESTfulService" binding="tns:BasicHttpBinding_IRESTfulService">
      <soap:address location="http://localhost:61702/RESTfulService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>